extends layout.pug

block content
  each post in posts
    article.media.content-section
      div.media-body
        div.article-metadata
          a.mr-2(href='#') #{post.author}
          small.text-muted #{post.date_posted}
        h2
          a.article-title(href='#') #{post.title}
        p.article-content #{post.content}